body {
    color: #333;
    background: #fff;
    /* font: 16px/1.6 "Muli", sans-serif; */
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
  }
  
#home img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }
 
.hero-block {
    margin: 80px 0 0;
  }
.hero-block .carousel-item:before {
    content: '';
    /* background: rgba(0, 0, 0, 0.7); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .hero-block .carousel-item img {
    width: 100%;
  }
  
  .hero-block .carousel-caption {
    left: 25%;
    right: 25%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%;
  }
  
  .hero-block p {
    margin: 0 0 30px;
  }
   .hero-block .carousel-caption {
      left: 7%;
      right: 7%;
    }
  
    .hero-block .carousel-control {
      width: 5%;
    }
  
    .hero-block p {
      margin: 0 0 25px;
    }
  
    .works-block .portfoliolist>div .label {
      height: 50px;
    }
  
  @media only screen and (max-width: 767px) {
    
    .hero-block .carousel-caption {
      display: none;
    }
  
    .hero-block .carousel-control {
      width: 15%;
    }
  
}

.hero-block p {
    margin: 0 0 30px;
  }
  h2 {
    font-size: 1.5;
  }

  .hero-block .carousel-caption {
    left: 25%;
    right: 25%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    bottom: 50%;
  }


  
  @media only screen and (max-width: 767px) {
    .hero-block .carousel-caption {
      display: block;
    }
  
    .hero-block .carousel-control {
      width: 15%;
    }
  }
  
  @media only screen and (max-width: 610px) {
    .hero-block .carousel-caption {
        font-size: 24px; 
    }
  
   
  
    .hero-block p {
        margin: 0 0 20px;
        font-size: 1.2rem; /* Adjust the font size as needed */
      }
    
      h2 {
        font-size: 1.5rem; /* Adjust the font size as needed */
      }
  }
  
  @media only screen and (max-width: 568px) {
    .hero-block .carousel-control {
      width: 25%;
    }
  
    .hero-block .btn {
      font-size: 12px; /* Adjust the font size as needed */
    }
  }

  /* Media query for screens below 516px */
@media only screen and (max-width: 516px) {
    .hero-block .carousel-control {
      width: 25%;
    }
  
    .hero-block .btn {
      font-size: 10px; /* Adjust the font size as needed */
    }
    .hero-block .carousel-caption{
        font-size: 20px;
    }
    .hero-block p{
        font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: 320px) {
    .hero-block .carousel-control {
      width: 25%;
    }
  
    .hero-block .btn {
      font-size: 5px; /* Adjust the font size as needed */
    }
    .hero-block .carousel-caption h2{
        font-size: 1.5rem;
    }
    .hero-block p{
        font-size: 1.2rem;
    }
    .hero-block .learn_more_button{
      font-size: 0.6rem!important;
    }
    
  }

  @media only screen and (max-width: 420px){
    .hero-block p{
      font-size: 1rem;
    }
    .hero-block .carousel-caption h2{
      font-size: 1.2rem;
    }
    a .learn-more-button{
      font-size: 0.6rem!important;
    }
  }


  
